.typed {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  animation: type 6s steps(35, end) forwards infinite;
}

@keyframes type {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

.typed::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  animation: caret 1s steps(1, end) infinite;
}

@keyframes caret {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
